{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="search">
      <i class="fas fa-search"></i>
      <input type="text" id = "title" name="title"  placeholder='      i.e python' required value="       " name="word"/>
      <i class="fas fa-keyboard"></i>
      <i class="fas fa-microphone"></i><br>

    <form id="contents" name="contents" action="/job/job_list" method="post">
    {% csrf_token %}
        <div>
            <p><button type="submit" class="btn btn-primary" onclick="send();" value="Find">Find</button></p>
        </div>
    </form>
</div>

{% endblock %}