.job_logo{
    font-family: 'Abril Fatface', cursive;
}

.job_footer_button{
    font-size: .6rem;
    }

.job_footer{
    text-align:center;
    margin-top:2rem;
    }

.job_header{
    text-align:center;
    margin:2rem 0;
    }